body {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}


.app-container {
    display: flex;
    height: 100vh; 
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.sidebar input {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
}

.sidebar button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.main-content {
    flex: 1; 
    padding: 20px;
    overflow-y: auto;
}


.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}


.book-card {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.book-card img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    background: #ccc;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.actions button {
    cursor: pointer;
    font-size: 12px;
}


.modal {
    display: none; 
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); 
}

.modal-content {
    background: white;
    width: 300px;
    margin: 100px auto; 
    padding: 20px;
    border: 2px solid black;
}